ipykernel
requests
SPARQLWrapper
beautifulsoup4
lxml
textblob
spacy
textblob_fr
langid
gensim
faker
openpyxl
nltk
thefuzz[speedup]
yake
pandas
scikit-learn
matplotlib
wordcloud
unidecode
pycountry
scikit-plot
seaborn